* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

iframe {
    width: 50vw;
    height: 100vh;
}

.graph {
    position: absolute;
    height: 50vh;
    width: 50vw;
    right: 0;
}

#normal {
    top: 0;
    
}

#best_fit {
    bottom: 0;
    top: 50vh;
}

canvas {
    background-color: black;
}