<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>16th Street Bombing</title>
        <style>
        
            #t {
                
                width: 100vw;
                height:100vh;
                position: absolute;
                top:0;
                left:0;
                
            }
            
        </style>
    </head>
    <body>
        
        <img src="" id='t'/>
        
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script src="script.js"></script>
    </body>
</html>